*{
    padding: 0;
    margin: 0;
}

.contGralSlider{
    user-select: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.contSlider::-webkit-scrollbar{
    display: none;
}

.contSlider{
    display: flex;
    gap: 20px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: gray;
}

.item{
    width: calc( 100% - 0px); /*se le resta el total de gap visible dividido cantidad de imagenes visibles*/
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5px;
    scroll-snap-align: start;
    background: white;
}

.item img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    background: orange;
}

.item p{
    margin-top: 10px;
    background: green;
}

.item div{
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: pink;
}


.btn-move-item{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
}

.btn-move-item.right{
    right: 0;
    margin-right: 20px;
}

.btn-move-item.left{
    left: 0;
    margin-left: 20px;
}

@media (max-width: 600px) {
 
    .btn-move-item{
        display: none;
    }

}
